.menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.2%;
}


.cartas img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}


.caroussel :where(.cartas, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .caroussel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((90% / 6) + 30.2px);
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-left: 0.1px;
    

}


.caroussel .cartas{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    scroll-snap-align: start;
    
}

.caroussel2 :where(.cartas, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .caroussel2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((90% / 6) + 30.2px);
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-left: 0.1px;
    

}


.caroussel2 .cartas{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    scroll-snap-align: start;
    
}

caroussel2 :where(.cartas, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .caroussel3 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((90% / 6) + 30.2px);
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-left: 0.1px;
    

}


.caroussel3 .cartas{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    scroll-snap-align: start;
    
}

.wrapper .caroussel4 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((90% / 6) + 30.2px);
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-left: 0.1px;
    

}


.caroussel4 .cartas{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    scroll-snap-align: start;
    
}


.wrapper{
    position: relative;
    max-width: 1800px;
    width: 90%;
    margin-left: 5%;
}

.wrapper i {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 30px;
    
}

.wrapper i:first-child {
    left: -4%;
}

.wrapper i:last-child {
    right: -4.5%;
}

.text{
    text-align: left;
}

.grid1 {
    margin-left: 5px;
    margin-right: 5px;
}

.cartas img {
    transition: transform 0.1s;
}

.cartas img:hover {
    transform: scale(1.3);
}
.retorno {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

a {
    color: inherit; 
}


.wrapper p {
        max-width: 25ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


.cartah img:hover {
    transform: scale(1.5);
}

.cartah img {
    transition: transform 0.1s;
}

.card img:hover {
    transform: scale(1.5);
}

.card img {
    transition: transform 0.1s;
}


.tabelas {
    height: 30%;
    width: 70%;
    background-color: rgb(151, 151, 151);
    border-radius: 7px;
    border: 7px;
    padding: 10px;
    margin-top: 10%;
    margin-left: 7%;
}
.tab_header {
    height: 30%;
    width: 50%;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    border: 10px;
    color: aliceblue;
    margin-bottom: -5%;
}
.td1 {
    color: aliceblue;
    padding: auto;
    margin-left: -5%;
}
.td2 {
    color: aliceblue;
    padding: auto;
}
.td3 {

    color: aliceblue;
    padding: auto;
}
.td4{

    color: aliceblue;
    padding: auto;
}
.td5{

    color: aliceblue;
    width: 100%;
    padding: auto;
}
.tr {
    color: aliceblue;
}
.btão {
    background-color: red;
    border-radius: 5px;
    color: antiquewhite;
}
.adj {
    width: 5%px;
    height: 25%;
}

.card-img-top{
    padding: 5%;
}
.cardp{

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
    padding: 3%;
    margin-top: 1%;
    margin: 5%;
}
.btn-primary{
    border-radius: 50px;
    width: 60%;
    height: 20%;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
h3,h5{
    color: rgb(0, 0, 0);
}
.btn-group{
    padding-right: 30%;
    padding-left: 30%;
    margin-left: 10%;
}


@media screen and (max-width: 1490px){
    p {
        max-width: 19ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }

    .wrapper .caroussel {
        grid-auto-columns: calc((100% / 5) - 2px );
    }

    .wrapper .caroussel2 {
        grid-auto-columns: calc((100% / 5) - 2px );
    }

    .wrapper .caroussel3 {
        grid-auto-columns: calc((100% / 5) - 2px );
    }

    .wrapper .caroussel4 {
        grid-auto-columns: calc((100% / 5) - 2px );
    }


    .wrapper i:last-child {
        right: -3%;
    }

}


@media screen and (max-width: 1205px){
    .wrapper .caroussel {
        grid-auto-columns: calc((90% / 5) + 25px );
    }

    .wrapper .caroussel2 {
        grid-auto-columns: calc((90% / 5) + 25px );
    }

    .wrapper .caroussel3 {
        grid-auto-columns: calc((90% / 5) + 25px );
    }

    .wrapper .caroussel4 {
        grid-auto-columns: calc((90% / 5) + 25px );
    }

    .wrapper i:first-child {
        left: -4.5%;
    }
    
    .wrapper i:last-child {
        right: -3%;
    }

    .wrapper p {
        max-width: 18ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }
}

@media screen and (max-width: 915px){
    .wrapper .caroussel {
        grid-auto-columns: calc((90% / 4) + 20px );
    }

    .wrapper .caroussel2 {
        grid-auto-columns: calc((90% / 4) + 20px );
    }

    .wrapper .caroussel3 {
        grid-auto-columns: calc((90% / 4) + 20px );
    }

    .wrapper .caroussel4 {
        grid-auto-columns:  calc((90% / 4) + 20px );
    }
    .wrapper i:first-child {
        left: -5%;
    }
    
    .wrapper i:last-child {
        right: -5%;
    }
    
    .wrapper p {
        max-width: 16ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }
}

@media screen and (max-width: 740px){
    .wrapper .caroussel {
        grid-auto-columns: calc((90% / 3) + 25px );
    }

    .wrapper .caroussel2 {
        grid-auto-columns: calc((90% / 3) + 25px );
    }

    .wrapper .caroussel3 {
        grid-auto-columns: calc((90% / 3) + 25px );
    }

    .wrapper .caroussel4 {
        grid-auto-columns: calc((90% / 3) + 25px );
    }


    .wrapper i:first-child {
        left: -7%;
    }
    
    .wrapper i:last-child {
        right: -7%;
    }

    h2 {
        text-align: center;
    }

    .wrapper p {
        max-width: 13ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
}


@media screen and (max-width: 530px){
    .wrapper .caroussel {
        grid-auto-columns: calc((90% / 2) + 30px );
    }

    .wrapper .caroussel2 {
        grid-auto-columns: calc((90% / 2) + 30px );
    }

    .wrapper .caroussel3 {
        grid-auto-columns: calc((90% / 2) + 30px );
    }

    .wrapper .caroussel4 {
        grid-auto-columns: calc((90% / 2) + 30px );
    }

    .wrapper i:first-child {
        left: -6%;
    }
    
    .wrapper i:last-child {
        right: -9%;
    }

    .wrapper p {
        max-width: 10ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
    
}

@media screen and (max-width:455px){

    .wrapper .caroussel {
        grid-auto-columns: 90%;
        overflow-x: auto;
    }

    .wrapper .caroussel2 {
        grid-auto-columns: 90%;
        overflow-x: auto;
    }

    .wrapper .caroussel3 {
        grid-auto-columns: 90%;
        overflow-x: auto;
    }

    .wrapper .caroussel4 {
        grid-auto-columns: 90%;
        overflow-x: auto;
    }

    .wrapper i {
        display: none;
    }

    .wrapper  p {
        max-width: 20ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }

    h2 {
        text-align: center;
    }
    
}

